# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pycache

# Virtual environment
env/
venv/
ENV/

# Django
*.log
*.pot
*.pyc
*.sqlite3

# Media files (user uploads)
media/

# Django migrations (optional: you can include them if you want)
*/migrations/*.pyc
*/migrations/*.py
*/migrations/__pycache__/

# IDEs / Editors
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# OS files
.DS_Store
Thumbs.db
